{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}
  <style>
    .django-ckeditor-widget {
      width: 100%;
    }
  </style>
  <link href="{% static 'django_ckeditor_5/dist/styles.css' %}" rel="stylesheet">
  <script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>  
{% endblock %}

{% block content %}
<div class="row mt-4">
  <div class="col-lg-12 col-12 mx-auto position-relative">
    <div class="card">
      <div class="card-header p-3 pt-2">
        <div class="icon icon-lg icon-shape bg-gradient-dark shadow text-center border-radius-xl mt-n4 me-3 float-start">
          <i class="material-icons opacity-10">event</i>
        </div>
        <h6 class="mb-0">Form Artikel</h6>
      </div>
      <div class="card-body pt-2">
          <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="input-group input-group-dynamic">
                  <label for="projectName" class="form-label">Judul</label>
                  {{ forms.judul }}
              </div>
              <br> </br
              >
              <div class="input-group input-group-dynamic">
                  <label for="projectName" class="form-label">Konten</label>
                  {{ forms.konten }}
              </div>
                
              <div class="input-group input-group-dynamic">{{ forms.kategori }}</div>
              <br> </br>

              <div class="input-group input-group-dynamic">{{ forms.gambar }}</div>
              <br> </br>

              <div class="input-group input-group-dynamic">Status : &nbsp &nbsp{{ forms.status }}
              </div> 

              <div class="d-flex justify-content-end mt-4">
                <button type="submit" name="button" class="btn bg-gradient-dark m-0 ms-2">Simpan</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

  {% block js %}
    <script src="{% static 'dashboard/assets/js/plugins/choices.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/plugins/quill.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/plugins/flatpickr.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/plugins/dropzone.min.js' %}"></script>
    <script src="{% static 'django_ckeditor_5/dist/bundle.js' %}"></script>
  {% endblock %}