{% extends 'dashboard/base.html' %}
{% load static %}


{% block css %}
{% endblock%}

{% block content%}
<div class="col-12">
    <div class="card">
      <!-- Card header -->
      <div class="card-header">
        <h5 class="mb-0">Daftar Kategori<a class="btn btn-outline-warning" href="{% url 'admin_kategori_tambah' %}">Tambah</a></h5>
      </div>
      <div class="table-responsive">
        <table class="table table-flush" id="datatable-search">
          <thead class="thead-light">
            <tr>
              <th>No</th>
              <th>Nama</th>
              <th>Created At</th>
              <th>Created By</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for kat in kategori %}
            <tr>
              <td class="text-sm font-weight-normal">{{ forloop.counter }}</td>
              <td class="text-sm font-weight-normal">{{ kat.nama }}</td>
              <td class="text-sm font-weight-normal">{{ kat.created_at }}</td>
              <td class="text-sm font-weight-normal">{{ kat.created_by }}
              <td class="text-sm font-weight-normal text-center" >
                <a class="btn btn-warning btn-sm" href="{% url 'admin_kategori_update' kat.id %}">edit</a>
                <a class="btn btn-danger btn-sm" href="{% url 'admin_kategori_delete' kat.id %}">delete</a>
                </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
    <script src="{% static 'dashboard/assets/js/plugins/datatables.js' %}"></script>
    <script> 
        const dataTableSearch = new simpleDatatables.DataTable("#datatable-search", {
            searchable: true,
            fixedHeight: true
        })
    </script>
{% endblock %}