{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
  <div class="row mt-4">
    <div class="col-lg-12 col-12 mx-auto position-relative">
      <div class="card">
        <div class="card-header p-3 pt-2">
          <div class="icon icon-lg icon-shape bg-gradient-dark shadow text-center border-radius-xl mt-n4 me-3 float-start">
            <i class="material-icons opacity-10">event</i>
          </div>
          <h6 class="mb-0">Form Kategori</h6>
        </div>
        <div class="card-body pt-2">
            <form method="POST">
                {% csrf_token %}
                <div class="input-group input-group-dynamic">
                    <label for="projectName" class="form-label">Nama Kategori</label>
                    {{ forms.nama }}
                  </div>    
                  <div class="d-flex justify-content-end mt-4">
                    <button type="submit" name="button" class="btn bg-gradient-dark m-0 ms-2">simpan</button>
                  </div>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block js %}
<script src="{% static 'dashboard/assets/js/plugins/choices.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/plugins/quill.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/plugins/flatpickr.min.js' %}"></script>
  <script src="{% static 'dashboard/assets/js/plugins/dropzone.min.js' %}"></script>
<script>
    if (document.getElementById('choices-multiple-remove-button')) {
        var element = document.getElementById('choices-multiple-remove-button');
        const example = new Choices(element, {
        removeItemButton: true
        });

        example.setChoices(
        [{
            value: 'One',
            label: 'Label One',
            disabled: true
            },
            {
            value: 'Two',
            label: 'Label Two',
            selected: true
            },
            {
            value: 'Three',
            label: 'Label Three'
            },
        ],
        'value',
        'label',
        false,
        );
    }
    if (document.querySelector('.datetimepicker')) {
      flatpickr('.datetimepicker', {
        allowInput: true
      }); 
    }
</script>
{% endblock %}