{% extends 'landingpage/base.html' %}
{% load static %}

{% block content %}
<div class="container py-5">
  <div class="row">
    <!-- Artikel -->
    <div class="col-lg-8">
      {% if artikel %}
        {% for a in artikel %}
        <div class="card card-plain card-blog mb-5">
          <div class="row">
            <div class="col-md-4">
              <div class="card-image position-relative border-radius-lg">
                <div class="blur-shadow-image">
                  <img class="img border-radius-lg rounded-circle" style="width: 150px; height: 150px; object-fit: cover;" src="{{ a.gambar }}" alt="{{ a.judul }}" loading="lazy">
                </div>
              </div>
            </div>
            <div class="col-md-8 my-auto">
              <h4><a href="{% url 'detail_artikel' a.id %}" class="text-dark">{{ a.judul }}</a></h4>
              <p>{{ a.konten|striptags|cut:" "|cut:"&nbsp;"|truncatechars:200 }}</p>
              <div class="author d-flex align-items-center mt-2">
                <img src="{% static 'landingpage/assets/img/team-4.jpg' %}" alt="author" class="avatar avatar-sm shadow me-2 border-radius-lg" loading="lazy">
                <p class="my-auto">{{ a.author }}</p>
              </div>
            </div>
          </div>
        </div> 
        {% endfor %}
      {% else %}
        <p>Tidak ada artikel tersedia.</p>
      {% endif %}
    </div>

    <!-- Sidebar -->
    <div class="col-lg-4">
      <div class="position-sticky" style="top: 80px;">
        <!-- Kategori -->
        <h4 class="mb-3">Kategori</h4>
        {% for k in kategori %}
        <a href="javascript:;" class="text-decoration-none">
          <div class="card mb-3">
            <div class="card-body p-3">
              <h6 class="mb-0 text-body">{{ k.nama }}</h6>
            </div>
          </div>
        </a>
        {% endfor %}

        <!-- Top Berita -->
        <h4 class="mt-5">Top berita</h4>
        {%for a in artikel%}
        <div class="card card-plain card-blog mt-4">
          <div class="row">
            <div class="col-lg-4 col-md-4">
              <div class="card-image position-relative border-radius-lg">
                <div class="blur-shadow-image">
                  <img class="img border-radius-lg rounded-circle" style="width: 80px; height: 80px; object-fit: cover;" src="{{ a.gambar.url }}" alt="curved11" loading="lazy">
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-md-8 my-sm-auto mt-3">
              <h5>
                <a href="" class="text-dark font-weight-normal">{{a.judul|truncatechars:50}}</a>
              </h5>
            </div>
          </div>
        {% endfor %}
      
        <div id="disqus_thread"></div>
        <script>
            (function() { 
            var d = document, s = d.createElement('script');
            s.src = 'https://my-blogging.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </div>
  </div>
</div>
{% endblock %}




    