{% extends 'landingpage/base.html' %}
{% load static %}

{% block content %}
<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <section class="py-5 mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 ms-auto me-auto">
            <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm">{{ artikel.kategori }}</h6>
            <img src="{{ artikel.gambar.url }}" alt="" style="width: 100%;">
            <h3 class="title mb-4">{{ artikel.judul }}</h3>
            <p class="text-dark">
               {{ artikel.konten }}
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="py-7">
      <div class="container">
        <div class="row">
          <div class="col-9 text-center mx-auto">
            <h3 class="mb-1">Lihat Artikel Lainnya</h3>
          </div>
        </div>

        <div class="row mt-5">
          {% for artikel in artikel_lainnya %}
          <div class="col-lg-4 mb-4">
            <div class="card h-100">
              <div class="card-header p-0 mx-3 mt-n4 position-relative z-index-1">
                <a href="{% url 'detail_artikel' artikel.id %}" class="d-block blur-shadow-image">
                  <img src="{{ artikel.gambar.url }}" class="img-fluid border-radius-md" alt="Gambar Artikel" loading="lazy">
                </a>
              </div>
              <div class="card-body d-flex flex-column">
                <span class="text-gradient text-warning text-uppercase text-xs font-weight-bold">{{ artikel.kategori }}</span>
                <a href="{% url 'detail_artikel' artikel.id %}" class="text-darker card-title mt-3 h5 d-block">
                  {{ artikel.judul }}
                </a>
                <p class="card-description mb-4">{{ artikel.konten|truncatechars:200 }}</p>
                <div class="author d-flex align-items-center mt-auto">
                  <img src="{% static 'landingpage/assets/img/marie.jpg' %}" alt="Author" class="avatar shadow" loading="lazy">
                  <div class="name ps-2">
                    <span>{{ artikel.author }}</span>
                    <div class="stats">
                      <small>{{ artikel.created_at }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </section>

    <div class="py-lg-5 py-0">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h4 class="mb-1">Thank you for your support!</h4>
            <p class="lead mb-0">Delivering the best products</p>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-4 d-lg-flex align-items-center justify-content-end">
            <a href="javascript:;" class="btn btn-twitter mb-lg-0 mb-2 me-2">
              <i class="fab fa-twitter me-1"></i> Twitter
            </a>
            <a href="javascript:;" class="btn btn-facebook mb-lg-0 mb-2 me-2">
              <i class="fab fa-facebook-square me-1"></i> Facebook
            </a>
            <a href="javascript:;" class="btn btn-tumblr mb-lg-0 mb-2 me-2">
              <i class="fab fa-tumblr me-1"></i> Tumblr
            </a>
            <a href="javascript:;" class="btn btn-dribbble mb-lg-0 mb-2">
              <i class="fab fa-dribbble me-1"></i> Dribbble
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
