{% load static %}

<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
    <div class="container">
      <a class="navbar-brand  text-white  d-none d-md-block" href=" https://demos.creative-tim.com/material-kit-pro/index " rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
        My Blogging
      </a>
      <a class="navbar-brand  text-white  d-block d-md-none" href=" https://demos.creative-tim.com/material-kit-pro/index " rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
        Material Design
      </a>
      <a href="https://www.creative-tim.com/product/material-design-system-pro#pricingCard" class="btn btn-sm  bg-gradient-primary  mb-0 ms-auto d-lg-none d-block">Buy Now</a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <ul class="navbar-nav d-flex align-items-center ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item me-2">
            <a href="/dashboard" class="btn btn-sm bg-gradient-primary mb-0">Dashboard</a>
            {% else %}
            <a href="/auth-login" class="btn btn-sm  bg-gradient-primary  mb-0 me-1">Login</a>
            {% endif %}
          </li>
        </ul>

        <ul class="navbar-nav d-lg-block d-none">
          <li class="nav-item">
            <a href="/auth-login" class="btn btn-sm  bg-gradient-primary  mb-0 me-1">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>